<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Provenance.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
				<key>dateExpires</key>
				<string>01/05/2020</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjackSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HockeySDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NSLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NSLoggerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVAtari800.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVFCEU.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVGB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVGBA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVGenesis.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVMednafen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVMupen64Plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVMupen64PlusRspHLE.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVMupen64PlusVideoGlideN64.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVMupen64PlusVideoRice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVPokeMini.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVRSPCXD4.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVReicast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVSNES.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVStella.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVSupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVTGBDual.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVVirtualJaguar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PVYabause.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PicoDrive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ProSystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ProvenanceShared.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>QuickTableViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxAtomic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxBlocking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxRealm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SteamController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyUserDefaults.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>XLActionController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CDE385D167768E273BBF93D547DE3F6497D4CBF</string>
						<key>dateExpires</key>
						<string>01/05/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>PSC4UKUB87.com.jla.provenance.extension.spotlight</string>
						<key>com.apple.developer.icloud-container-environment</key>
						<string>Production</string>
						<key>com.apple.developer.icloud-container-identifiers</key>
						<array>
							<string>iCloud.com.jla.provenance</string>
						</array>
						<key>com.apple.developer.icloud-services</key>
						<array>
							<string>CloudDocuments</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>PSC4UKUB87</string>
						<key>com.apple.developer.ubiquity-container-identifiers</key>
						<array>
							<string>iCloud.com.jla.provenance</string>
						</array>
						<key>com.apple.developer.ubiquity-kvstore-identifier</key>
						<string>PSC4UKUB87.com.jla.provenance.extension.spotlight</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.jla</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>Spotlight.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>461ef20d-0f9e-4ac2-b93f-64a2a89d1bd3</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.jla.provenance.extension.spotlight</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PSC4UKUB87</string>
						<key>name</key>
						<string>Julien Lamande</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PSC4UKUB87.com.jla.provenance</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.jla.provenance</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.networking.multipath</key>
				<true/>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PSC4UKUB87</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.jla.provenance</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>PSC4UKUB87.com.jla.provenance</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.jla</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Provenance.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5bf3b1d2-fe5e-48ce-bd6c-603b466004c5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.jla.provenance</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PSC4UKUB87</string>
				<key>name</key>
				<string>Julien Lamande</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
